extends layout

block content
  div(ng-controller="indexController" ng-init="init()" ng-cloak)
    .container.mt-4
      .text-center.mb-4
        .row
          .col-md-3
          .col-md-6
            ul.list-group(ng-repeat="user in users")
              li.list-group-item(ng-if="!user.readyStatus" id="{{user.id}}")
                | {{user.username}} &nbsp;
                i.fas.fa-times
              li.list-group-item(ng-if="user.readyStatus" id="{{user.id}}")
                | {{user.username}} &nbsp;
                i.fas.fa-check
          .col-md-3
      .text-center
        .row
          .col-md-3
          .col-md-6
            .alert.alert-primary(role='alert')
              | Click number:
              span#click-num 0
          .col-md-3
        .jumbotron.jumbotron-fluid.start
          .container
            p#game-status.lead Players waiting..
      div(align='center')
        button.btn.btn-success#rdy(type='button' ng-click="onReadyClick($event)") Ready
